<div class="col-12">
  <form [formGroup]="form">
    <div class="row mx-auto">
        <div class="col-lg-3 sm-12">
          <mat-form-field class="formField">
          <input matInput placeholder="Nome" formControlName="name">
        </mat-form-field>
        <div class="mensagem__erro" *ngIf="form.get('name')?.errors?.['required']
          && form.get('name')?.touched">
          O nome é obrigatório
        </div>
      </div>
      <div class="col-lg-3 sm-12">
        <mat-form-field class="formField" [floatLabel]="'always'">
          <mat-label>Documento</mat-label>
          <input matInput placeholder="00000000000" formControlName="document">
        </mat-form-field>
        <div class="mensagem__erro" *ngIf="form.get('document')?.errors?.['required']
          && form.get('document')?.touched">
          O documento é obrigatório
        </div>
      </div>

      <div class="col-lg-3 sm-12">
        <mat-form-field class="formField">
          <input matInput [matDatepicker]="picker" placeholder="Data de nascimento" formControlName="birthdate">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="mensagem__erro" *ngIf="form.get('birthdate')?.errors?.['required']
          && form.get('birthdate')?.touched">
          A data de nascimento é obrigatória
        </div>
      </div>

      <div class="col-lg-2 sm-12">
        <mat-form-field class="formField" [floatLabel]="'always'">
          <mat-label>E-mail</mat-label>
          <input matInput type="email" placeholder="mail@example.com" formControlName="email">
        </mat-form-field>
        <div class="mensagem__erro" *ngIf="form.get('email')?.errors?.['required']
          && form.get('email')?.touched">
          O email é obrigatório
        </div>
        <div class="mensagem__erro" *ngIf="form.get('email')?.errors?.['email']
          && form.get('email')?.touched">
          O email precisa ser válido
        </div>
      </div>

      <div class="col-lg-2 sm-12">
        <mat-form-field class="formField" [floatLabel]="'always'">
          <mat-label>Telefone</mat-label>
          <input matInput placeholder="(00) 0000-0000" formControlName="phone">
        </mat-form-field>
        <div class="mensagem__erro" *ngIf="form.get('phone')?.errors?.['required']
          && form.get('phone')?.touched">
          O telefone é obrigatório
        </div>
      </div>
      <div class="col-lg-2 sm-12">
        <mat-form-field class="formField" [floatLabel]="'always'">
          <mat-label>Celular</mat-label>
          <input matInput placeholder="(00) 0000-0000" formControlName="cellNumber">
        </mat-form-field>
        <div class="mensagem__erro" *ngIf="form.get('cellNumber')?.errors?.['required']
          && form.get('cellNumber')?.touched">
          O celular é obrigatório
        </div>
      </div>

    </div>

    <div class="d-flex flex-row-reverse">
      <button
        color="primary"
        mat-flat-button
        [disabled]="!form.valid"
        (click)="submitForm()">
        Cadastrar
      </button>
    </div>
  </form>
</div>
